.contacts__button {
    width: 130px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    border-radius: 20px;
    background: hsl(0, 0%, 3%);
    padding: .5em 2em;
    font-weight: bold;
    text-align: center;
    transition: opacity 1s ease-in-out;
}

.contacts__button:hover {
    opacity: 0.6;
}

@media (max-width: 480px) {
    .contacts__button {
        width: 240px;
      }
  }