.contacts__button {
    width: 130px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    border-radius: 20px;
    background: hsl(0, 0%, 3%);
    padding: .5em 2em;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 480px) {
    .contacts__button {
        width: 240px;
      }
  }