.header__img {
    width: 100%;
    background-image: url(../../../images/intro-main-image-opt.png);
    background-size: cover;
}

.header__img:last-of-type {
    display: none;
}

@media screen and (max-width: 480px) {
    .header__img:last-of-type {
        display: block;
    }
    .header__img:first-of-type {
        display: none;
    }
  }