.lang__link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 1s ease-in-out;
}

.lang__link:hover {
  opacity: 0.6;
}
