.menu__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  font-weight: bold;
  margin: 0;
  transition: opacity 1s ease-in-out;
}

.menu__link:hover {
  opacity: 0.6;
}
