.portfolio__link {
    text-decoration: underline;
    color: #070707;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    display: block;
    padding-top: 45px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.portfolio__link:hover {
  opacity: 0.6;
}