.contacts__content {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  text-align: center;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
}

.contacts__content + .contacts__content {
  padding-bottom: 90px;
  padding-top: 0;
}

@media (max-width: 480px) {
  .contacts__content {
    font-size: 18px;
    line-height: 22px;
  }
}
