.portfolio__title {
    font-weight: 900;
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    padding: 112px 0 47px;
    margin: 0;
}

@media (max-width: 480px) {
    .portfolio__title {
        padding: 81px 0 65px;
    }
}